<launch>
  <arg name="robotNamespace" default="turtlebot3_burger"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ugv)/worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <group ns = "$(arg robotNamespace)">
  	<param name="robot_description" command="$(find xacro)/xacro --inorder $(find ugv)/urdf/turtlebot3_burger_for_autorace.urdf.xacro" />
   
  	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
  	    <param name="publish_frequency" type="double" value="50.0" />
  	    <param name="tf_prefix" value="$(arg robotNamespace)" />
  	</node>
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
	    <param name="use_gui" value="true"/>
	    <param name="rate" value="50"/>
	</node>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find ugv)/rviz/model.rviz"/>

  	<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model $(arg robotNamespace) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  </group>

</launch>
